__history/
ventilamex_ejemplo_V1_0.STA
ventilamex_ejemplo_V1_0.ccspjt
ventilamex_ejemplo_V1_0.cof
ventilamex_ejemplo_V1_0.err
ventilamex_ejemplo_V1_0.esym
ventilamex_ejemplo_V1_0.hex
ventilamex_ejemplo_V1_0.lst
ventilamex_ejemplo_V1_0.sym
ventilamex_ejemplo_V1_0.tre
ventilamex_ejemplo_V1_0.xsym

